<footer>
    <section id="footer-links">
        <div id="left-column">
            <p><a href="/">Lorem</a></p>
            <p><a href="/">Ipsum</a></p>
            <p><a href="/">Dolor</a></p>
            <p><a href="/">Sit</a></p>
        </div>
        <div id="right-column">
            <p><a href="/">Amet</a></p>
            <p><a href="/">Consectetur</a></p>
            <p><a href="/">Adipisici</a></p>
            <p><a href="/">Elit</a></p>
        </div>
    </section>
    <section>
        <p id="copy">All Estate - &copy; 2020</p>
    </section>
</footer>