<section id="service-section">
    <h1>Services</h1>
    <p>Are you planning to sell your property? Then get professional support! We know the local market, advise you comprehensively and get the best sales proceeds for you.</p>
    <p>The most important thing in real estate marketing is to do everything right from the start, otherwise it can get expensive later.</p>
    <h3>We can do the following for you if you wish!</h3>
    <div id="services-flex">
        <div class="service-box">
            <img src="./assets/services/service1.png" alt="service">
            <h2>Help with financing matters</h2>
        </div>
        <div class="service-box">
            <img src="./assets/services/service2.png" alt="service">
            <h2>Creation of an energy certificate</h2>
        </div>

        <div class="service-box">
            <img src="./assets/services/service3.png" alt="service">
            <h2>Real estate valuation in line with the market</h2>
        </div>
        <div class="service-box">
            <img src="./assets/services/service4.png" alt="service">
            <h2>Magazine and newspaper ads</h2>
        </div>
        
        <div class="service-box">
            <img src="./assets/services/service5.png" alt="service">
            <h2>Open house events</h2>
        </div>
        <div class="service-box">
            <img src="./assets/services/service6.png" alt="service">
            <h2>Wide angle photos & aerial photography</h2>
        </div>
    </div>
</section>
