$red: #CF1717
$gray: #6D6E71

#start
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    align-items: center
    padding-top: 0.9em

img
    width:35%
    border-radius: 50%
    


#text1
    width: 40%


#text2
    width: 40%
    padding-top: 0.9em

h1
    font-size: 400%
