<section id="start">
    <div id="text1">
        <h1>Why All Estate?</h1>
        <br>
        <p>We provide you all kinds of housing of your desire. In our portfolio you can find everything from the little beach cottage to the luxury villa.</p>
    </div>
    <img src="./assets/toy-house.jpg">
    <img src="./assets/key.jpg">
    <div id="text2">
        <p>All Estate was founded in 2015 by John Doe. Our Estates were contributed from rich people. That means no building is new, but its former owners are famous people.</p>
    </div>
</section>
