<!-- First section (start)-->

<section id="start">
    <div id="text1">
        <h1>Why All Estate?</h1>
        <br>
        <p class="section-text">We provide you all kinds of housing of your desire. In our portfolio you can find everything from the little beach cottage to the luxury villa.</p>
    </div>
    <img class="pic-start" src="./assets/toy-house.jpg">
    <img class="pic-start" src="./assets/key.jpg">
    <div id="text2">
        <p class="section-text">All Estate was founded in 2015 by John Doe. Our Estates were contributed from rich people. That means no building is new, but its former owners are famous people.</p>
    </div>
</section>

<!-- Second Section (some estates) -->

<section id="properties">
    <h1 id="properties-head">Properties</h1>
    <div id="properties-flex">
        <div class="property-box" id="property1">
            <img class="pic-property" src="./assets/buildings/building1.jpg" alt="property">
            <h3>Kind of House</h3>
            <ul>
                <li>feat 1</li>
                <li>feat 2</li>
                <li>feat 3</li>
            </ul>
        </div>
        <div class="property-box" id="property2">
            <img class="pic-property" src="./assets/buildings/building2.jpg" alt="property">
            <h3>Kind of House</h3>
            <ul>
                <li>feat 1</li>
                <li>feat 2</li>
                <li>feat 3</li>
            </ul>
        </div>
        <div class="property-box" id="property3">
            <img class="pic-property" src="./assets/buildings/building3.jpg" alt="property">
            <h3>Kind of House</h3>
            <ul>
                <li>feat 1</li>
                <li>feat 2</li>
                <li>feat 3</li>
            </ul>
        </div>
        <div class="property-box" id="property4">
            <img class="pic-property" src="./assets/buildings/building4.jpg" alt="property">
            <h3>Kind of House</h3>
            <ul>
                <li>feat 1</li>
                <li>feat 2</li>
                <li>feat 3</li>
            </ul>
        </div>
    </div>
    <p class="section-text">You can find our locations all over the world.</p>
    <a  id="button-link" href="/"><button>All properties</button></a>
</section>

<!-- Third Section (some team members) -->

<section id="team">
    <h1 id="team-head">Team</h1>
    <div id="member1">
        <img class="pic-member" src="./assets/team/person1.jpg">
        <h3 class="member-name">John Doe</h3>
        <p class="member-position">Founder & CEO</p>
    </div>
    <div id="member2">
        <img class="pic-member" src="./assets/team/person2.jpg">
        <h3 class="member-name">Hans Meier</h3>
        <p class="member-position">Co-Founder & CFO</p>
    </div>
    <div id="member3">
        <img class="pic-member" src="./assets/team/person4.jpg">
        <h3 class="member-name">Jane Doe</h3>
        <p class="member-position">Marketing Manager</p>
    </div>
    <div id="member4">
        <img class="pic-member" src="./assets/team/person8.jpg">
        <h3 class="member-name">Lieschen Müller</h3>
        <p class="member-position">Recruiter</p>
    </div>
    <p id="team-text" class="section-text">To meet all our colleagues click on the button bellow</p>
    <a id="button-link" href="/"><button id="team-button">Explore all</button></a>
</section>
