$red: #CF1717
$gray: #6D6E71

/* Fisrt section (start) done with flex box */
#start
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    align-items: center
    padding-top: 0.9em

.pic-start
    width:35%
    border-radius: 50%
    


#text1
    width: 40%


#text2
    width: 40%

h1
    font-size: 400%
    text-align: center
    padding: 0.9em 0

h3 
    text-align: center

button
    width: 200px
    padding: 0.9em 0
    background: none
    border: 1px solid $red
    border-radius: 50px
    cursor: pointer
    transition: all 0.4s ease 0s
    display: block
    margin: 0 auto

button:hover
    background-color: rgba(109,110,113,0.5)
    color: $red
    transition: all 0.4s ease 0s

.section-text
    text-align: center
    padding: 0.9em 0

a
    text-decoration: none

/* Second section (some estates) also done with flex box */

#properties-flex
    display: flex
    justify-content: space-around

    .property-box
        border: 1px solid $gray

        ul
            margin-left: 25%

    .pic-property
        width: 16em
        height: 10em

/* Third section (some team members) done with grid layout */

#team
    display: grid
    grid-template-columns: repeat(9, 11.1111%)
    frid-template-rows: auto auto auto auto

#team-head
    grid-column-start: 1
    grid-column-end: 10
    grid-row-start: 1
    grid-row-end: 2


#member1
    grid-row-start: 2
    grid-row-end: 3
    grid-column-start: 2
    grid-column-end: 3
    padding: 0.9em 0

#member2
    grid-row-start: 2
    grid-row-end: 3
    grid-column-start: 4
    grid-column-end: 5
    padding: 0.9em 0

#member3
    grid-row-start: 2
    grid-row-end: 3
    grid-column-start: 6
    grid-column-end: 7
    padding: 0.9em 0

#member4
    grid-row-start: 2
    grid-row-end: 3
    grid-column-start: 8
    grid-column-end: 9
    padding: 0.9em 0

#team-text
    grid-column-start: 1
    grid-column-end: 10
    grid-row-start: 3
    grid-row-end: 4
    text-align: center

#button-link
    grid-column-start: 5
    grid-column-end: 6
    grid-row-start: 4
    grid-row-end: 5
    padding: 0.9em 0
    text-align: center

.pic-member
    width: 150px
    border-radius: 50%


.member-position
    padding: 0.9em 0
    text-align: center